{% extends 'base.html' %}

{% block content %}
    <h2>Базовый уровень (Basic COCOMO)</h2>
    <form method="POST">
        <label for="size">Введите объем программного продукта в тысячах строк исходного текста:</label>
            <input type="number" id="size" name="size" placeholder="Количество строк" required>
            <label for="size">тыс.строк</label>
        <p>1. Какой тип проекта?</p>
            <input type="radio" name="type" value=0> <a href ="#" title="Проект выполняется небольшой группой специалистов, имеющих опыт в создании подобных изделий и опыт применения технологических средств. Условия работы стабильны, и изделие имеет относительно невысокую сложность.">Распространенный</a> <br>

            <input type="radio" name="type" value=1> <a href ="#" title="Это проекты средней сложности. Исполнители знакомы лишь с некоторыми характеристиками (или компонентами) создаваемой системы, имеют средний опыт работы с подобными изделиями, изделие имеет элемент новизны. Только часть требований к изделию жестко фиксируется, в остальном разработки имеют степени выбора."> Полунезависимый</a> <br>

            <input type="radio" name="type" value=2> <a href ="#" title="Xарактеризуется очень жесткими требованиями на программный продукт, интерфейсы, параметры ЭВМ. Как правило, у таких изделий высокая степень новизны и планирование работ осуществляется при недостаточной информации, как о самом изделии, так и об условиях работы. Встроенный проект требует больших затрат на изменения и исправления."> Встроенный</a> <br>


        <button type="submit">Рассчитать</button>
    </form>
{% endblock %}