{% extends 'base.html' %}

{% block content %}
<h2>Описание модели COCOMO</h2>
<h><strong>1. COCOMO</strong></h>
<p>COCOMO (Constructive Cost Model) – это конструктивная модель стоимости, разработанная в начале 80-х годов Барри Боэмом для оценки трудоемкости разработки программных продуктов1
. Она основана на статистическом анализе фактических данных по выполнению 63 проектов в компании TRW Aerospace, где Барри Боэм был директором отдела
исследований программного обеспечения и технологий. Анализировались проекты объемом от 2 до 100 тысяч строк кода на языках программирования от ассемблеров до высокоуровневого языка PL/1, основанные на каскадной модели жизненного цикла разработки
ПО.
Модель состоит из иерархии трех последовательно детализируемых и уточняемых
    уровней. На каждом уровне все проекты разбиваются на три группы по сложности.</p>
<p>1. Распространенный тип (organic projects) характеризуется тем, что проект выполняется небольшой группой специалистов, имеющих опыт в создании подобных изделий и
опыт применения технологических средств. Условия работы стабильны, и изделие имеет
относительно невысокую сложность.</p>
<p>2. Встроенный тип (embedded projects) характеризуется очень жесткими требованиями
на программный продукт, интерфейсы, параметры ЭВМ. Как правило, у таких изделий
высокая степень новизны и планирование работ осуществляется при недостаточной информации, как о самом изделии, так и об условиях работы. Встроенный проект требует
больших затрат на изменения и исправления.</p>
<p>3. Полунезависимый тип (semidetached projects) занимает промежуточное положение
между распространенным и встроенным – это проекты средней сложности. Исполнители
знакомы лишь с некоторыми характеристиками (или компонентами) создаваемой системы, имеют средний опыт работы с подобными изделиями, изделие имеет элемент новизны. Только часть требований к изделию жестко фиксируется, в остальном разработки
имеют степени выбора.</p>
<p>Тип проекта рассматривается как один из параметров модели COCOMO.
Рассмотрим уровни модели.
</p>
<h><strong>1.1 Базовый уровень (Basic COCOMO)</strong></h>
<p>Модель этого уровня – двухпараметрическая. В качестве параметров выступают объем
программы (число строк кода) и тип проекта.
Модель этого уровня подходит для ранней быстрой приблизительной оценки затрат, но
точность её весьма низка, т.к. не учитываются такие факторы, как квалификация персонала, характеристики оборудования, опыт применения современных методов разработки
программного обеспечения и современных инструментальных сред разработки и др.
</p>
<h><strong>1.2 Промежуточный уровень (Intermediate COCOMO)</strong></h>
<p>На этом уровне базовая модель уточнена за счет ввода дополнительных 15 «атрибутов
стоимости» (или факторов затрат) Cost Drivers (CDk), которые сгруппированы по четырем
категориям:</p>
    <p>А. Характеристики продукта (Product Аttributes):</p>
<p>1. Требуемая надежность ПО (Required Software Reliability);</p>
<p>2. Размер БД приложения (Size of Application Database);</p>
<p>3. Сложность продукта (Complexity of the Product);</p>
<p>Б. Характеристики аппаратного обеспечения (Hardware Аttributes):</p>
<p>4. Ограничения быстродействия при выполнении программы (Run-Time Performance
Constraints);</p>
<p>5. Ограничения памяти (Memory Constraints);</p>
<p>6. Неустойчивость окружения виртуальной машины (Volatility of the Virtual Machine
Environment);</p>
<p>7. Требуемое время восстановления (Required Turnabout Time);</p>
<p>В. Характеристики персонала (Personnel Аttributes):</p>
<p>8. Аналитические способности (Analyst Capability);</p>
<p>9. Способности к разработке ПО (Software Engineer Capability);</p>
<p>10. Опыт разработки (Applications Experience);</p>
<p>11. Опыт использования виртуальных машин (Virtual Machine Experience);</p>
<p>12. Опыт разработки на языках программирования (Programming Language Experience);</p>
<p>Г. Характеристики проекта (ProjectАttributes):</p>
<p>13. Использование инструментария разработки ПО (Use of Software Tools);</p>
<p>14. Применение методов разработки ПО (Application of Software Engineering Methods);</p>
<p>15. Требования соблюдения графика разработки (Required Development Schedule).</p>
<h><strong>2. COCOMO II</strong></h>
<p>В 1997 методика была усовершенствована и получила название COCOMO II. Калибровка параметров производилась уже по 161 проекту разработки ПО.
Различаются две стадии оценки проекта: предварительная оценка на начальной фазе
(Early Design) и детальная оценка после проработки архитектуры (Post Architecture). </p>
<h><strong>2.1 Факторы масштаба (Scale Factors)</strong></h>
<p>В методике используются пять факторов масштаба SF;, которые определяются следующими характеристиками проекта:</p>

<p>1.PREC — прецедентность, наличие опыт аналогичных разработок (Very Low — опыт в продукте и платформе отсутствует; Extra High — продукт и платформа полностью знакомы)</p>

<p>2.FLEX — гибкость процесса разработки (Very Low — процесс строго детерминирован; Extra High — определены только общие цели).</p>

<p>3.RESL — архитектура и разрешение рисков (Very Low — риски неизвестны/не проанализированы; Extra High — риски разрешены на 100%)</p>

<p>4.TEAM — сработанность команды (Very Low — формальные взаимодействия; Extra High — полное доверие, взаимозаменяемость и взаимопомощь)</p>

<p>5.PMAT — зрелость процессов (Very Low — CMM Level 1; Extra High — CMM Level 5)</p>
<h><strong>2.2 Множители трудоемкости (EffortMultipliers) Предварительная оценка</strong></h>
<p>Стадия предварительной оценки трудоемкости программного проекта (Early Design). Для этой оценки необходимо оценить для проекта уровень семи множителей трудоемкости EMj:</p>
<p>– параметры персонала:</p>
<p>1. PERS (Personnel Capability) – квалификация персонала (уровень Extra Low – аналитики и программисты имеют низшую квалификацию, текучесть больше 45%; уровень
Extra High – аналитики и программисты имеют высшую квалификацию, текучесть меньше
4%);</p>
<p>2. PREX (Personnel Experience)– опыт персонала (Extra Low – новое приложение, инструменты и платформа; Extra High– приложение, инструменты и платформа хорошо известны);</p>
<p>– параметры продукта:</p>
<p>3. RCPX (Product Reliability and Complexity) – сложность и надежность продукта (Extra
Low – продукт простой, специальных требований по надежности нет, БД маленькая, документация не требуется; Extra High – продукт очень сложный, требования по надежности
жесткие, БД сверхбольшая, документация требуется в полном объеме);</p>
<p>4. RUSE (Developed for Reusability) – разработка для повторного использования (Low–
не требуется; ExtraHigh – предполагается переиспользование в других продуктах);</p>
<p>– параметры платформы:</p>
<p>5. PDIF (Platform Difficulty) – сложность платформы разработки (ExtraLow– специальные ограничения по памяти и быстродействию отсутствуют, платформа стабильна;
ExtraHigh – жесткие ограничения по памяти и быстродействию, платформа нестабильна);</p>
<p>– параметры проекта:</p>
<p>6. FCIL (Facilities)– оборудование (Extra Low – инструменты простейшие, коммуникации затруднены; Extra High– интегрированные средства поддержки жизненного цикла,
интерактивные мультимедиа коммуникации);</p>
<p>7. SCED (Required Development Schedule) – требуемое выполнение графика работ (Very
Low – 75% от номинальной длительности; Very High – 160% от номинальной длительности).</p>
<h><strong>2.3 Множители трудоемкости (EffortMultipliers) Детальная оценка</strong></h>
<p>Стадия детальной оценки после проработки архитектуры (Post Architecture). Для
этой оценки необходимо оценить для проекта уровень семнадцати множителей трудоемкости EMj:</p>
<p>– параметры персонала:</p>
<p>1. Analyst Capability (ACAP) – возможности аналитика;</p>
<p>2. Applications Experience (AEXP) – опыт разработки приложений;</p>
<p>3. Programmer Capability (PCAP) – возможности программиста;</p>
<p>4. Personnel Continuity (PCON) – продолжительность работы персонала;</p>
<p>5. Platform Experience (PEXP) –опыт работы с платформой;</p>
<p>6. Language and Tool Experience (LTEX) – опыт использования языка программирования и инструментальных средств.</p>
<p>– параметры продукта:</p>
<p>7. Required Software Reliability (RELY) – требуемая надежность программы;</p>
<p>8. Database Size (DATA) – размер базы данных;</p>
<p>9. Software Product Complexity (CPLX) – сложность программы;</p>
<p>10. Required Reusability (RUSE) – требуемая возможность многократного использования;</p>
<p>11. Documentation Match to Life-Cycle Needs (DOCU) –соответствие документации потребностям жизненного цикла.</p>
<p>– параметры платформы:</p>
<p>12. Execution Time Constraint (TIME) – ограничения времени выполнения;</p>
<p>13. Main Storage Constraint (STOR) – ограничения памяти;</p>
<p>14. Platform Volatility (PVOL) – изменяемость платформы.</p>
<p>– параметры проекта:</p>
<p>15. Use of Software Tools (TOOL) – использование инструментальных программных
средств;</p>
<p>16. Multisite Development (SITE) – многоабонентская (удаленная) разработка;</p>
<p>17. Required Development Schedule (SCED) – требуемое выполнение графика работ.</p>

{% endblock %}