
{% extends 'base.html' %}

{% block content %}
    <h2>Пользовательское соглашение</h2>
        <h><strong>1. Введение</strong></h>
        <p>Настоящее пользовательское соглашение (далее - "Соглашение") регулирует порядок использования сайта калькулятора COCOMO (далее - "Сайт"). Пожалуйста, внимательно прочитайте это Соглашение перед началом использования Сайта.</p>
        <h><strong>2. Принятие условий</strong></h>
        <p>Используя Сайт, вы соглашаетесь с условиями настоящего Соглашения. Если вы не согласны с любыми условиями, вы не должны использовать Сайт.</p>
        <h><strong>3. Описание сервиса</strong></h>
        <p>Сайт предоставляет пользователям возможность расчета параметров проектов разработки программного обеспечения с использованием модели COCOMO.</p>
        <h><strong>4. Ограничения</strong></h>
        <p>Запрещается:</p>
        <ul>
            <li>1. Использовать Сайт в незаконных целях;</li>
            <li>2. Наносить вред, мешать или вмешиваться в работу Сайта;</li>
            <li>3. Публиковать недостоверную информацию или вести себя неэтично.</li>
        </ul>
        <h><strong>5. Интеллектуальная собственность</strong></h>
        <p>Все материалы, размещенные на Сайте, являются интеллектуальной собственностью разработчиков и охраняются законом. Запрещается их копирование или распространение без разрешения владельцев прав.</p>
        <h><strong>6. Ограничение ответственности</strong></h>
        <p>Разработчики не несут ответственности за любые убытки, возникающие в результате использования Сайта, включая, но не ограничиваясь, возможностью потери данных или ущерба, причиненного сбоем в работе.<p></p>
        <h><strong>7. Изменения в Соглашении</strong></h>
        <p>Разработчики оставляют за собой право изменять условия этого Соглашения в любое время. Пользователь обязан периодически проверять Соглашение на наличие изменений.</p>
        <h><strong>8. Контакты</strong></h>
        <p>Если у вас есть вопросы о настоящем Соглашении, пожалуйста, свяжитесь с нами по адресу: support@example.com.<p></p>

{% endblock %}